# macOS
.DS_Store

# Node
node_modules/
dist/
build/

# Java
*.class
*.jar
*.war
*.log
target/
.gradle/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# IDE
.vscode/
.idea/

# Misc
coverage/
tmp/
